:root{
  --main-color: #fef2d0;
  --green-color: #3cb815;
  --light-green-color: #c0eb7b;
  --black: black;
  --bg: #010103;
  --border:.1rem solid rgba(255, 255, 255, .3);
}
  *{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
  }
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar{
    width: .8rem;
  }
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
  }
  body{
    background-color: rgba(228, 228, 128, 0.562);
}
.header{
  background: var(--light-green-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  position: absolute;
  top:0; left: 0; right:0;
  
}
.header .logo{
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.4rem;
}

.header .logo img{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.header .navbar a{
  margin: 0 1rem;
  font-size: 2rem;
  color:#010103;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  display: inline;
  transition: color 0.5s;
  z-index: 2;
}


.header .navbar a:hover,
.header .navbar .menu-active{
  background: rgb(249, 218, 19);
  border-radius: 5rem;
  color: black;
  transition: 0.5s;
  font-weight: 700;

}


.header .icons {
  color: black;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 2.2rem;
  margin-left: 2rem;
}

.header .icons div:hover{
  color:#000
}

#menu-btn{
  display:none;
}

input{
  padding: 12px;
  cursor: pointer;
  font-weight: 600;
}

.signup{
  background-color: #ff511c;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
}

.header .search-form{
  position: absolute;
  top: 115%; right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form input{
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color:#000;
  padding: 1rem;
  text-transform: none;
}

.header .search-form label{
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color:#000;
}

.header .search-form label:hover{
  color:rgba(247, 168, 32, 0.903);
}

.header .cart-items-container{
  position: absolute;
  top: 100%; right:-100%;
  height: cacl(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
  
}
.header .cart-items-container.active {
  right: 0;
}



.header .cart-items-container .cart-item{
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}


.header .cart-items-container .cart-item .fa-times{
  position: absolute;
  top:1rem; right:1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #000;
}

.header .cart-items-container .cart-item .fa-times:hover{
  color: rgba(247, 168, 32, 0.903);
}

.header .cart-items-container .cart-item img{
  height: 7rem;
  width:7rem;
}

.header .cart-items-container .cart-item h3{
  font-size: 1.8rem;
  color: #000;
  padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .price{
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(247, 100, 9);
  padding-bottom: .5rem;
}

.btn{
  margin-top: 1rem;
  background: #8aea6def;
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn:hover{
  background: #3cb815;
  font-weight: 600;
  letter-spacing: .1rem;
}
.header .cart-items-container .btn {
  width: 100%;
}

/* --media query ------------*/
@media(max-width: 991px){
  html{
    font-size: 55%;
  }

  .header{
    padding: 1.5rem 2rem;
  }

}

@media(max-width: 800px){
  #menu-btn{
    display: inline-block;
  }
  

  .header .navbar{
    position: absolute;
    top: 100%; right: -100%;
    background: rgba(211, 234, 238, 0.905);
    padding: .5rem;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }
  .header .navbar.active-menu{
    right: 0;
  }

  .header .navbar a{
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
  }
}


.contact .row{
  margin-top: 15rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map{
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .btn{
  background: #ff6b3d;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 20px;
  width: 20%;
}

.contact .row form{
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
 /*------------------ Thông tin liên hệ------------------- */
.contact .row form h3{
  text-transform: uppercase;
  font-size: 3.5rem;
  text-align: left;
  color: rgba(252, 79, 10, 0.868);
}

.contact .contactInfo .res{
  display: flex;
  font-size: 2rem;
  padding: 0.5rem;
  gap: 1rem;
}

.contact .contactInfo .res span{
  font-size: 2rem;
}

.contact .contactInfo img{
  height: 2rem;
}

/* ------------------------- */
.contact .row form .inputBox{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: #000;
}

.contact .row form .inputBox span{
  color:#242121d2;
  font-size: 2rem;
  padding-left: 2rem;
  margin-right: 1rem;
}

.contact .row form .inputBox input{
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  text-transform: none;
  background: #ffffff;
}

.contact .row form .inputBox textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.7rem;
}

.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #093222;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 32px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 3px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}