@model Demo.Data.Account


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content_box">
      <div class="nav_dir">
      <div class="header-sub-title">
          <nav class="breadcrumb breadcrumb-dash">
              <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home > </a>
              <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Danh sách tài khoản quản trị > </a>
              <span class="breadcrumb-item active">Chỉnh sửa tài khoản</span <br />
          </nav>
      </div>

  </div>
  <hr />
  <div class="form_container">
    <div class="title">Thông tin tài khoản</div>
    <div class="content">
        <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AccountId" />
        <div class="user-details">

            <div class="input-box">
            <label asp-for="FullName">FullName</label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
          </div>

          <div class="input-box">
            <label>Phone</label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
          </div>

          <div class="input-box">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>

       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Password" />
       
            
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Salt" />
       
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Avatar" />

         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CreateDate" />

          <div class="input-box" id="special">
            <label asp-for="Active" class="control-label">Active</label>
            <select asp-for="Active" class="form-control" asp-items="ViewBag.TrangThai"></select>
            <span asp-validation-for="Active" class="text-danger"></span>
          </div>

           <div class="input-box" id="special">
            <label asp-for="RoleId" class="control-label">Role</label>
            <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
            <span asp-validation-for="RoleId" class="text-danger"></span>
          </div>


        </div>

        <div class="button">
        <input type="submit" value="Save" class="btn btn-primary" />

        </div>
      </form>

    </div>
  </div>

<div class="group_button">
        <input type="button" 
    onclick="window.location.href='@Url.Action("Index")'" 
    value="Back to List" class="btn btn-info btn-sm">

</div>
</div>

