@model Demo.Data.Category
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home > </a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="ProductCategory" asp-action="Index">Danh sách danh mục sản phẩm > </a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="ProductCategory" asp-action="Add">Thêm danh mục sản phẩm > </a>
        </nav>
    </div>

</div>
<div class="content_box">
    <div><h1>Create</h1></div>

    <hr />



    <div class="form_container">
        <div class="title">Category</div>
        <div class="content">
            <form asp-controller="ProductCategory" asp-action="Add" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="user-details">
                    <div class="input-box">
                        <label asp-for="CatId" class="control-label">CatId</label>
                        <input asp-for="CatId" class="form-control" />
                        <span asp-validation-for="CatId" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="CatName" class="control-label">CatName</label>
                        <input asp-for="CatName" class="form-control" />
                        <span asp-validation-for="CatName" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="Description" class="control-label">Description</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Ảnh đại diện</label>
                        <input name="fThumb" type="file" class="form-control" asp-for="Thumb" />
                        <span asp-validation-for="Thumb" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="Title" class="control-label">Title</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="Alias" class="control-label">Alias</label>
                        <input asp-for="Alias" class="form-control" />
                        <span asp-validation-for="Alias" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="MetaDesc" class="control-label">MetaDesc</label>
                        <input asp-for="MetaDesc" class="form-control" />
                        <span asp-validation-for="MetaDesc" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="MetaKey" class="control-label">MetaKey</label>
                        <input asp-for="MetaKey" class="form-control" />
                        <span asp-validation-for="MetaKey" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="Cover" class="control-label">Cover</label>
                        <input asp-for="Cover" class="form-control" />
                        <span asp-validation-for="Cover" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="SchemaMarkup" class="control-label">SchemaMarkup</label>
                        <input asp-for="SchemaMarkup" class="form-control" />
                        <span asp-validation-for="SchemaMarkup" class="text-danger"></span>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>


    <div class="group_button">
        <input type="button"
               onclick="window.location.href='@Url.Action("Index")'"
               value="Back to List" class="btn btn-info btn-sm">

    </div>
</div>


