@model Demo.Data.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content_box">
<div class="nav_dir">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home > </a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index">Danh sách tài khoản khách hàng > </a>
            <span class="breadcrumb-item active">Chi tiết thông tin tài khoản khách hàng </span> <br />
        </nav>
    </div>
</div>



    <hr />
   <dl class="form_container">
        <div class="title">Category</div>
            <div class="content">
                <div class="user-details">
                    <div class="input-box">
                    <label>ID</label>
                    <input asp-for="CustomerId" class="form-control" readonly/>
                    </div>

                    <div class="input-box">
                    <label asp-for="FullName">Họ và tên</label>
                    <input asp-for="FullName" class="form-control" readonly/>
                    </div>

                    <div class="input-box">
                    <label asp-for="Birthday">Ngày sinh</label>
                    <input asp-for="Birthday" class="form-control" readonly/>
                    </div>

                    <div class="input-box" id="special">
                    <label asp-for="Address">Địa chỉ</label>
                    <input asp-for="Address" class="form-control" readonly/>
                    </div>

                    <div class="input-box">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" readonly/>
                    </div>

                    <div class="input-box">
                    <label asp-for="Phone" class="control-label">Số điện thoại</label>
                    <input asp-for="Phone" class="form-control" readonly/>
                    </div>

                </div>

            </div>
    </dl>

    <div class="group_button">
            <input type="button" 
    onclick="window.location.href='@Url.Action("Index")'" 
    value="Back to List" class="btn btn-info btn-sm">
        @{
            var editUrl = Url.Action("Edit", new { id = Model?.CustomerId });
        }

<input type="button" value="Edit" 
    onclick="window.location.href='@editUrl'" class="btn btn-primary btn-sm" />
    </div>
</div>
