@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="grid">
    <div class="task-box">
        <h3>Product report</h3>
        <div class="content">
            <div class="graph">
            </div>
        </div>
    </div>

    <div class="task-box">
        <h3>Revenue report</h3>
        <div class="content">
            <div class="graph-circle">
            </div>
        </div>
    </div>

    <div class="task-box">
        <h3>Assigned task</h3>
        <div class="content">
            <div class="tasks">
                <img src="~/assets/admin/image.jfif" alt="">
                <div class="message">
                    <h4>Assigned Jamie</h4>
                    <h5>KYS</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="task-box">
        <h3>Notification</h3>
        <div class="content">
            <div class="tasks">
                <img src="~/assets/admin/image.jfif" alt="">
                <div class="message">
                    <h4>Jamie</h4>
                    <h5>Ayo PBL suck!!!!</h5>
                </div>
            </div>

            <div class="tasks">
                <img src="~/assets/admin/image.jfif" alt="">
                <div class="message">
                    <h4>Jamie</h4>
                    <h5>Ayo PBL suck!!!!</h5>
                </div>
            </div>
        </div>
    </div>
</div>