@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

            <div class="content_box">
                <div class="nav_dir">
                    <p>
                        <span>Danh mục sản phẩm</span>
                    </p>
                </div>
                <div class="data_table_container">
                    <table class="data-table">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Loại danh mục</th>
                            <th>Số lượng sản phẩm</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Cat01</td>
                            <td class="name-product">

                                Hamburger Bò
                            </td>
                            <td>6</td>

                          </tr>
                          <tr>
                            <td>Cat02</td>
                            <td class="name-product">

                                Hamburger Tôm
                            </td>
                            <td>5</td>

                          </tr>

                          <tr>
                            <td>Cat03</td>
                            <td class="name-product">

                                Gà rán sốt cay
                            </td>
                            <td>6</td>

                          </tr>

                          <tr>
                            <td>Cat04</td>
                            <td class="name-product">
                                Spaghetti Chay
                            </td>
                            <td>6</td>

                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="group_button">
                    <input type="button" value="Thêm danh mục mới">
                </div>
            </div>

        </div>
