@model IEnumerable<Demo.ModelViews.MenuloaiVM>



<div class="menu_set d-flex flex-nowrap">
    @foreach (var item in Model)
    {
        <button class="choose_food" id="@item.CatName" onclick="filterMenu('@item.CatName')">@item.CatName</button>
    }
</div>

<script>
    function filterMenu(foodType) {
        var productRows = document.getElementsByClassName("product_row");
        for (var i = 0; i < productRows.length; i++) {
            if (productRows[i].id === foodType) {
                productRows[i].style.display = "grid"; // Changed from "block" to "grid"
            } else {
                productRows[i].style.display = "none";
            }
        }
    }
</script>