@model Demo.Data.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content_box">

    <div class="nav_dir">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item">
                    <i class="anticon anticon-home m-r-5"></i>Trang chủ
                </a>
                <a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index" class="breadcrumb-item">
                    Quản lý danh mục sản phẩm
                </a>
                <span class="breadcrumb-item active">
                    Chỉnh sửa danh mục sản phẩm
                </span>
            </nav>
        </div>
    </div>
    <hr />
    <div class="form_container">
        <div class="content">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CatId" />
                <div class="user-details">
                    <div class="input-box">
                        <label asp-for="CatName" class="control-label">CatName</label>
                        <input asp-for="CatName" class="form-control" />
                        <span asp-validation-for="CatName" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="Description" class="control-label">Description</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="input-box">
                        <label asp-for="Title" class="control-label">Title</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="Alias" class="control-label">Alias</label>
                        <input asp-for="Alias" class="form-control" />
                        <span asp-validation-for="Alias" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="MetaDesc" class="control-label">Meta Desc</label>
                        <input asp-for="MetaDesc" class="form-control" />
                        <span asp-validation-for="MetaDesc" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="MetaKey" class="control-label">Meta Key</label>
                        <input asp-for="MetaKey" class="form-control" />
                        <span asp-validation-for="MetaKey" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="Cover" class="control-label">Cover</label>
                        <input asp-for="Cover" class="form-control" />
                        <span asp-validation-for="Cover" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="SchemaMarkup" class="control-label">Schema Markup</label>
                        <input asp-for="SchemaMarkup" class="form-control" />
                        <span asp-validation-for="SchemaMarkup" class="text-danger"></span>
                    </div>

                    <div class="input-box" id="special">
                        <label class="font-weight-semibold" for="productBrand">Ảnh đại diện</label>
                        <input name="fThumb" type="file" class="form-control" asp-for="Thumb" />
                        <span asp-validation-for="Thumb" class="text-danger"></span>
                    </div>
                </div>

                <div class="button">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


    <div class="group_button">
        <input type="button"
               onclick="window.location.href='@Url.Action("Index")'"
               value="Back to List" class="btn btn-info btn-sm">

    </div>
</div>
