@model Demo.Data.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content_box">
    <dl class="form_container">
        <div class="title" style="text-align: center;">Bạn có muốn xóa sản phẩm</div>
        <div class="content">
        <div class="user-details">
            <div class="user-details">
                <div class="input-box">
                    <label asp-for="ProductId" class="control-label">ID</label>
                    <input asp-for="ProductId" class="form-control" readonly />
                    <span asp-validation-for="ProductId" class="text-danger" ></span>
                 </div>
                <div class="input-box">
                    <label asp-for="ProductName" class="control-label">Tên sản phẩm</label>
                    <input asp-for="ProductName" class="form-control" readonly/>
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                    @*  <div class="input-box">
                <label asp-for="ShortDesc" class="control-label"></label>
                <input asp-for="ShortDesc" class="form-control" />
                <span asp-validation-for="ShortDesc" class="text-danger"></span>
            </div> *@

                    @* <div class="input-box" id="special">
    <label for="productCategory">Danh mục sản phẩm</label>
    <select class="custom-select" asp-for="CatId" style="min-width: 200px" asp-items="ViewBag.Danhmuc">
        <option value="" disabled selected>Chọn danh mục</option>
    </select>
</div> *@


            <div class="row">

                <div class="input-box" >
                    <label asp-for="Price" class="control-label">Giá</label>
                    <input asp-for="Price" class="form-control" readonly/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="Unit" class="control-label">Đơn vị</label>
                    <input asp-for="Unit" class="form-control" readonly/>
                    <span asp-validation-for="Unit" class="text-danger"></span>
                </div>

            </div>

                    @* <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div> *@


            <div class="input-box">
                <label class="font-weight-semibold" for="productBrand">Ảnh đại diện</label>
                <input name="fThumb" type="file" class="form-control" asp-for="Thumb" readonly/>
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>

                    @*  <div class="form-group">
                <label asp-for="Video" class="control-label"></label>
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateModified" class="control-label"></label>
                <input asp-for="DateModified" class="form-control" />
                <span asp-validation-for="DateModified" class="text-danger"></span>
            </div> *@
                    @*  <div class="form-group">
                <label asp-for="BestSellers" class="control-label"></label>
                <input asp-for="BestSellers" class="form-control" />
                <span asp-validation-for="BestSellers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeFlag" class="control-label"></label>
                <input asp-for="HomeFlag" class="form-control" />
                <span asp-validation-for="HomeFlag" class="text-danger"></span>
            </div> *@


            <div class="input-box">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" readonly/>
                <span asp-validation-for="Tags" class="text-danger" ></span>
            </div>

            <div class="input-box">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" readonly/>
                <span asp-validation-for="Title" class="text-danger" ></span>
            </div>

        </div>

        </div>

    </dl>
        <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />

        @* <a asp-action="Index">Back to List</a> *@
            <div class="group_button">
                <input type="submit" id="delete" value="Delete" class="btn btn-danger" /> 
        <input type="button" 
    onclick="window.location.href='@Url.Action("Index")'" 
    value="Back to List" class="btn btn-info btn-sm">

</div>
    </form>
</div>

    


