@model Demo.Data.Product

@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home > </a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Danh sách sản phẩm > </a>
            <span  class="breadcrumb-item active">Chỉnh sửa sản phẩm </span <br />
        </nav>
    </div>

</div>
<div class="container mt-4">
    <h2>Chỉnh sửa sản phẩm</h2>
    <form asp-action="Edit" method="post" enctype="multipart/form-data" class="forms-sample">
        <div class="form-group">
            <label asp-for="ProductName" class="control-label">Tên sản phẩm</label>
            <input asp-for="ProductName" class="form-control" required />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label">Giá tiền</label>
            <input asp-for="Price" class="form-control" required />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CatId" class="control-label">Loại sản phẩm</label>
            <select asp-for="CatId" class="form-control" asp-items="ViewBag.CatId" required></select>
            <span asp-validation-for="CatId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label">Mô tả sản phẩm</label>
            <textarea asp-for="Description" class="form-control" rows="5" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ShortDesc" class="control-label">Mô tả ngắn</label>
            <input asp-for="ShortDesc" class="form-control" required />
            <span asp-validation-for="ShortDesc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Thumb" class="control-label">Hình ảnh</label>
            <input asp-for="Thumb" class="form-control" required />
            <span asp-validation-for="Thumb" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Unit" class="control-label">Đơn vị</label>
            <input asp-for="Unit" class="form-control" required />
            <span asp-validation-for="Unit" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Tags" class="control-label">Thẻ</label>
            <input asp-for="Tags" class="form-control" required />
            <span asp-validation-for="Tags" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Active" class="control-label">Trạng thái hoạt động</label>
            <input asp-for="Active" class="form-control" required />
            <span asp-validation-for="Active" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BestSellers" class="control-label">Sản phẩm bán chạy</label>
            <input asp-for="BestSellers" class="form-control" />
            <span asp-validation-for="BestSellers" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="HomeFlag" class="control-label">Trang chủ</label>
            <input asp-for="HomeFlag" class="form-control" required />
            <span asp-validation-for="HomeFlag" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Title" class="control-label">Tiêu đề</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Alias" class="control-label">Bí danh</label>
            <input asp-for="Alias" class="form-control" />
            <span asp-validation-for="Alias" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MetaDesc" class="control-label">Mô tả thẻ</label>
            <input asp-for="MetaDesc" class="form-control" />
            <span asp-validation-for="MetaDesc" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MetaKey" class="control-label">Từ khóa</label>
            <input asp-for="MetaKey" class="form-control" />
            <span asp-validation-for="MetaKey" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-gradient-primary me-2">Lưu</button>
            <a href="@Url.Action("Index")" class="btn btn-light">Hủy</a>
        </div>
    </form>
</div>

<div class="container mt-3">
    <a asp-action="Index" class="btn btn-link">Quay lại danh sách</a>
</div>
