@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.section1 {
    width: 1503px;
    height: 120px;
    background-color:rgba(218, 255, 164, 0.695);
    .flex_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px 10px;
        margin: 2px 26.5px;
      }
      .flex_row1 {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        gap: 0px 10px;
        width: 578px;
      }
    
      .subtitle1 {
        display: flex;
        align-items: center;
        text-decoration: none;
        font: 600 20px/1.2 "Inter", Helvetica, Arial, serif;
        color: rgb(0, 0, 0);
      }
      .subtitle1:hover{
        color: rgba(248, 88, 40, 0.795);
        box-shadow: 0 3px rgba(237, 237, 21, 0.844);
      }
    
      .flex_row2 {
        display: flex;
        align-items: center;
        gap: 0px 9px;
        width: 272px;
      }
      .image6 {
        width: 100px;
        height: 100px;
        border-radius: 10px 10px 10px 10px;
      }
      .hero_title4 {
        display: flex;
        justify-content: center;
        align-items: center;
        font: 400 42px/1.15 "Play", Helvetica, Arial, serif;
        color: rgb(0, 0, 0);
        text-align: center;
      }
      .flex_row3 {
        display: flex;
        align-items: center;
        gap: 0px 12px;
        width: 404px;
      }
      .image7 {
        width: 80px;
        height: 80px;
      }
      .btn {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 220px;
        height: 70px;
        background-color: rgb(255, 197, 34);
        border-radius: 30px 30px 30px 30px;
        cursor: pointer;
      }
      .btn__text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
        padding: 0px 0px 0px 28px;
        width: fit-content;
        height: fit-content;
        font: 600 24px/1.2 "Inter", Helvetica, Arial, serif;
        color: rgb(0, 0, 0);
        text-align: right;
      }
}

.section2 {

        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 1141px;
    .group {
        position: absolute;
        top: 37px;
        left: 114px;
        display: flex;
        flex-direction: column;
        width: 1252px;
        height: 476px;
    }
   .rect1 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1252px;
        height: 476px;
        background-color: rgb(217, 217, 217);
    }
   .big_title_box {
        position: absolute;
        top: 47.5px;
        left: 27px;
        display: flex;
        align-items: center;
        width: 1204px;
        height: 396px;
    }
   .big_title {
        font: 600 36px/1.22 "Inter", Helvetica, Arial, serif;
        color: rgb(0, 0, 0);
    }
   .big_title_span0 {
         font: 600 1em/1.22 "Inter", Helvetica, Arial, serif;
    }
    .big_title_span1 {
        font: 1em/1.22 "Inter", Helvetica, Arial, serif;
    }
   .group1 {
        position: absolute;
        top: 551px;
        left: 114px;
        display: flex;
        flex-direction: column;
        width: 1252px;
        height: 590px;
    }
    .rect2 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1252px;
        height: 590px;
        background-color: rgba(129, 224, 224, 0.2);
   }
    .big_title_box1 {
        position: absolute;
        top: 15px;
        left: 27px;
        display: flex;
        align-items: center;
        width: 1204px;
        height: 572px;
    }
}

.section3 {
    position: relative;
    display: flex;
    flex-direction: column;

  .image_section3 {
    position: relative;
    margin: 46px 0px 20px 45px;
    width: 816px;
    height:937.9px;
    aspect-ratio: 0.87;
  }
  .subtitle_box {
    position: absolute; 
    top: 45px;
    bottom: 116px;
    right: 42px;
    left: 897px;
    display: flex;
    align-items: center;
    width: 564px;
    height: 840px;
  }
  .subtitle {
    font: 600 20px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .subtitle_span0 {
    font: 600 1em/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(49, 173, 84);
  }
  .subtitle_span1 {
    font: 1em/1.2 "Inter", Helvetica, Arial, serif;
  }
  .subtitle_span2 {
    font: 600 1em/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(60, 176, 93);
  }
  .subtitle_span3 {
    font: 1em/1.2 "Inter", Helvetica, Arial, serif;
  }
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #093222;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 32px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 15px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 3px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

