:root{
  --main-color: #fef2d0;
  --green-color: #3cb815;
  --light-green-color: #c0eb7b;
  --black: black;
  --bg: #010103;
  --border:.1rem solid rgba(255, 255, 255, .3);
}
  *{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
  }
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar{
    width: .8rem;
  }
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
  }
  body{
    background-color: var(--main-color);
}
.header{
  background: var(--light-green-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  position: absolute;
  top:0; left: 0; right:0;
  
}
.header .logo{
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.4rem;
}

.header .logo img{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.header .navbar a{
  margin: 0 1rem;
  font-size: 2rem;
  color:#010103;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  display: inline;
  transition: color 0.5s;
  z-index: 2;
}


.header .navbar a:hover,
.header .navbar .menu-active{
  background: rgb(249, 218, 19);
  border-radius: 5rem;
  color: black;
  transition: 0.5s;
  font-weight: 700;

}


.header .icons {
  color: black;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 2.2rem;
  margin-left: 2rem;
}

.header .icons div:hover{
  color:#000
}

#menu-btn{
  display:none;
}

input{
  padding: 12px;
  cursor: pointer;
  font-weight: 600;
}

.signup{
  background-color: #ff511c;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
}

.header .search-form{
  position: absolute;
  top: 115%; right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form input{
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color:#000;
  padding: 1rem;
  text-transform: none;
}

.header .search-form label{
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color:#000;
}

.header .search-form label:hover{
  color:rgba(247, 168, 32, 0.903);
}

.header .cart-items-container{
  position: absolute;
  top: 100%; right:-100%;
  height: cacl(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
  
}
.header .cart-items-container.active {
  right: 0;
}



.header .cart-items-container .cart-item{
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}


.header .cart-items-container .cart-item .fa-times{
  position: absolute;
  top:1rem; right:1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #000;
}

.header .cart-items-container .cart-item .fa-times:hover{
  color: rgba(247, 168, 32, 0.903);
}

.header .cart-items-container .cart-item img{
  height: 7rem;
  width:7rem;
}

.header .cart-items-container .cart-item h3{
  font-size: 1.8rem;
  color: #000;
  padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .price{
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(247, 100, 9);
  padding-bottom: .5rem;
}

.btn{
  margin-top: 1rem;
  background: #8aea6def;
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn:hover{
  background: #3cb815;
  font-weight: 600;
  letter-spacing: .1rem;
}
.header .cart-items-container .btn {
  width: 100%;
}

/* --media query ------------*/
@media(max-width: 991px){
  html{
    font-size: 55%;
  }

  .header{
    padding: 1.5rem 2rem;
  }

}

@media(max-width: 800px){
  #menu-btn{
    display: inline-block;
  }
  

  .header .navbar{
    position: absolute;
    top: 100%; right: -100%;
    background: rgba(211, 234, 238, 0.905);
    padding: .5rem;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }
  .header .navbar.active-menu{
    right: 0;
  }

  .header .navbar a{
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
  }
}

.section2 {

        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 1141px;
        margin-top: 10rem;
}
    .group {
        position: absolute;
        top: 37px;
        left: 114px;
        display: flex;
        flex-direction: column;
        width: 1252px;
        height: 476px;
    }
   .rect1 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1252px;
        height: 476px;
        background-color: rgb(217, 217, 217);
    }
   .big_title_box {
        position: absolute;
        top: 47.5px;
        left: 27px;
        display: flex;
        align-items: center;
        width: 1204px;
        height: 396px;
    }
   .big_title {
        font: 600 36px/1.22 "Inter", Helvetica, Arial, serif;
        color: rgb(0, 0, 0);
    }
   .big_title_span0 {
         font: 600 1em/1.22 "Inter", Helvetica, Arial, serif;
    }
    .big_title_span1 {
        font: 1em/1.22 "Inter", Helvetica, Arial, serif;
    }
   .group1 {
        position: absolute;
        top: 551px;
        left: 114px;
        display: flex;
        flex-direction: column;
        width: 1252px;
        height: 590px;
    }
    .rect2 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1252px;
        height: 590px;
        background-color: rgba(129, 224, 224, 0.2);
   }
    .big_title_box1 {
        position: absolute;
        top: 15px;
        left: 27px;
        display: flex;
        align-items: center;
        width: 1204px;
        height: 572px;
    }


.section3 {
    position: relative;
    display: flex;
    flex-direction: column;
}
  .image_section3 {
    position: relative;
    margin: 46px 0px 20px 45px;
    width: 816px;
    height:937.9px;
    aspect-ratio: 0.87;
  }
  .subtitle_box {
    position: absolute; 
    top: 45px;
    bottom: 116px;
    right: 42px;
    left: 897px;
    display: flex;
    align-items: center;
    width: 564px;
    height: 840px;
  }
  .subtitle {
    font: 600 20px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .subtitle_span0 {
    font: 600 1em/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(49, 173, 84);
  }
  .subtitle_span1 {
    font: 1em/1.2 "Inter", Helvetica, Arial, serif;
  }
  .subtitle_span2 {
    font: 600 1em/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(60, 176, 93);
  }
  .subtitle_span3 {
    font: 1em/1.2 "Inter", Helvetica, Arial, serif;
  }

.section4 {
    position: relative;
    display: flex;
    flex-direction: column;
}
  .wrapper6_S4 {
    display: flex;
    flex-direction: column;
    width: 1503px;
    height: 325px;
    /* margin: 62px 0px 0px; */
    background-color: rgba(14, 44, 36, 0.8);
  }
  .flex_row {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    margin: 96px 0px 99px 40px;
    width: 854px;
    height: 160px;
  }
  .image1 {
    margin: 0px 0px 50px;
    width: 116px;
    height: 110px;
    border-radius: 10px 10px 10px 10px;
  }
  .medium_title {
    display: flex;
    align-items: center;
    margin: 5px 0px 0px;
    width: 699px;
    height: 155px;
    font: 500 26px/1.19 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
  }

  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #093222;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 32px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 3px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
