
body {
    font-family: sans-serif;
    margin: 20px;
    /*    background: #e7d05d;*/
}

.container {
    width: 500px;
    margin: 0 auto;
}

.go-back {
    font-size: 1.7rem;
}

    .go-back a {
        text-decoration: none;
        color: #007bff;
        font-weight: 600;
    }

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.image-container img {
    align-items: center;
    margin-left: 12rem;
    margin-bottom: 2rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

label {
    width: 150px;
    font-size: 1.4rem;
    display: block;
    margin-right: .6rem;
}

input[type="password"] {
    width: 55%;
    padding: 8px;
    margin-right: .6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #007bff;
    color: white;
    width: 100px;
    padding: 10px 35px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

    .btn:hover {
        background-color: #0056b3;
    }
