.contact .row {
    margin-top: 15rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

    .contact .row .map {
        flex: 1 1 45rem;
        width: 100%;
        object-fit: cover;
    }

.contact .btn {
    background: #ff6b3d;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 20px;
    width: 20%;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
    /*------------------ Thông tin liên hệ------------------- */
    .contact .row form h3 {
        text-transform: uppercase;
        font-size: 3.5rem;
        text-align: left;
        color: rgba(252, 79, 10, 0.868);
    }

.contact .contactInfo .res {
    display: flex;
    font-size: 2rem;
    padding: 0.5rem;
    gap: 1rem;
}

    .contact .contactInfo .res span {
        font-size: 2rem;
    }

.contact .contactInfo img {
    height: 2rem;
}

/* ------------------------- */
.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: #000;
}

    .contact .row form .inputBox span {
        color: #242121d2;
        font-size: 2rem;
        padding-left: 2rem;
        margin-right: 1rem;
    }

    .contact .row form .inputBox input {
        width: 100%;
        padding: 2rem;
        font-size: 1.7rem;
        text-transform: none;
        background: #ffffff;
    }

    .contact .row form .inputBox textarea {
        width: 100%;
        padding: 1.5rem;
        font-size: 1.7rem;
        min-height: 120px;
        font-family: sans-serif;
    }
