*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
  }
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar{
    width: .8rem;
  }
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
  }
  body{
    background-image: linear-gradient(45deg, #58E89A, #A7ECFB);
}

/* ---------------------------------header------------------------------------- */
.header{
    display: flex;
    align-items: center;
    background: #fff;
    border: .05rem solid black;
    padding: 1rem;
}



.header .admin-box{
    display: flex;
    justify-content: space-between;
    width: 15%;
    padding: 0rem;
}

.header .admin-box img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.header .admin-box h3{
    width: auto;
    height: auto;
    font-weight: 600;
    font-size: 1.4rem;
    font-family:sans-serif;
    padding: 1rem;
    justify-items: center;
}

.header .admin-box .fas.fa-caret-down{
    padding: 1rem;
    font-size: 1.4rem;
}

.header .search-bar{
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    width: 85%;
    margin-left: 5rem;
}

.header .search-bar .search-box{
    display: inline-flex;
    flex-direction: row;
    padding-right: 1rem;
    width: auto;
    border-radius: 25px;
    align-items: center;
    gap: 0px 15px;
    background-image: linear-gradient(to right, #cfe2ff, #c2d1E8);
    padding: 1.4rem;
}

.header .search-bar .fa-solid.fa-bell{
    font-size: 2.6rem;
    margin-top: 0.8rem;
    margin-right: 1.5rem;
    color:blue;
}


/* -------------------navbar----------------------------------- */
.body .container{
    display: flex;
    margin-top: 2.5rem;
}
.body .container .nav-bar{
    display: inline-flex;
    flex-direction: column;
    margin-left: 1.8rem;
    width: 15%;
    padding: 2rem;
    height: 25rem;
    background-color: white;
    border-radius: 14px;
}

.body .container .nav-bar .option-box{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.body .container .nav-bar .option-box a{
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    justify-self: left;
    text-align: left;
    padding: 0.5rem;
    color: black;
}

.body .container .nav-bar .option-box div{
    font-size: 2.3rem;
    margin-right: 1.6rem;
}

.body .container .nav-bar .option-box:hover,
.body .container .nav-bar #menu-active{
    background: #2f81ed5b;
    padding: 0.5rem;
    border-radius: 5rem;
    color: black;
    transition: 0.5s;
    font-weight: 700;

  }

.body .container .grid {
    /* align-items: center;
    justify-content: space-between; */
    margin-left: 3rem;
    display: grid;
    align-content: start;
    width: 80%;
    grid-template-columns: repeat(2, minmax(0, 1fr));

}

.body .container .grid .task-box{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    grid-row: span 1;
    grid-column: span 1;
    width: 90%;
    margin-bottom: 3rem;
    margin-right: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;

}

.body .container .grid .task-box h3{
    display: flex;
    align-items: center;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.body .container .grid .task-box .content{
    height: 25rem;
    padding: 2rem;
}
.body .container .grid .task-box .content .tasks{
    display: flex;
    padding: 0.4rem;
    border: 1px solid rgb(127, 120, 112);
    border-radius: 15px;
    margin-bottom:1.4rem;
}

/* .body .container .grid .task-box .container .tasks .message h4{
   
} */

.body .container .grid .task-box .content img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 1.2rem;
}
