:root{
    --main-color: #fef2d0;
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --black: black;
    --bg: #010103;
    --border:.1rem solid rgba(255, 255, 255, .3);
  }
    *{
      margin:0; padding:0;
      box-sizing: border-box;
      outline: none;
      border: none;
      text-decoration: none;
      text-transform: none;
      transition: .2s linear;
    }
    html{
      font-size: 62.5%;
      overflow-x: hidden;
      scroll-padding-top: 9rem;
      scroll-behavior: smooth;
    }
    html::-webkit-scrollbar{
      width: .8rem;
    }
    html::-webkit-scrollbar-track{
      background: transparent;
    }
    html::-webkit-scrollbar-thumb{
      background: #fff;
      border-radius: 5rem;
    }
    body{
      background-color: var(--main-color);
  }
  /*----------------Section 1--------------------------------*/
    .header{
      max-width: 1920px;
      background: var(--light-green-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem 7%;
      position: absolute;
      top:0; left: 0; right:0;
      z-index: 1000;
    }
        .header .logo {
            display: inline-flex;
            align-items: center;
            gap: .5rem;
            font-size: 1.4rem;
            font-family: 'Poppins',sans-serif;
        }
  
    .header .logo img{
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
    }
  
    .header .navbar a{
      margin: 0 1.5rem;
      font-size: 2.5rem;
      color:#010103;
      font-weight: 500;
      padding: 0.5rem 1rem;
      border-radius: 3px;
      text-decoration: none;
      position: relative;
      display: inline;
      transition: color 0.5s;
      z-index: 2;
    }

    @media(max-width: 1200px){
        .header .navbar a {
            margin: 0 1rem;
            font-size: 2rem;
            color: #010103;
            font-weight: 500;
            padding: 0.5rem 1rem;
            border-radius: 3px;
            text-decoration: none;
            position: relative;
            display: inline;
            transition: color 0.5s;
            z-index: 2;
        }
    }
    
  
    .header .navbar a:hover,
    .header .navbar .menu-active{
      background: rgb(249, 218, 19);
      border-radius: 5rem;
      color: black;
      transition: 0.5s;
      font-weight: 700;
  
    }
  
  
    .header .icons {
      color: black;
      display: inline-flex;
      align-items: center;
      margin-right: 6rem;
      gap: 1rem;
      cursor: pointer;
      font-size: 2.2rem;
      margin-left: 2rem;
    }
  
    .header .icons div:hover{
      color:#000
    }
    
    .header #menu-btn{
      display: none;
    }
  /* dropdownbox user*/
    .header .icons .fas.fas.fa-user {
      position: relative;
      display: block;
    }

    .header .icons .for_all_user .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 20rem;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }
  
    .header .icons .for_all_user .dropdown-content a{
      text-decoration: none;
      color: black;
      padding: 12px 16px;
      display: block;
      font-size: 1.8rem;
      font-family: 'Courier New', Courier, monospace;
    }
  
    .header .icons .for_all_user .dropdown-content a:hover{
      background-color: #3cb815;
    }
  
    .header .icons .for_all_user:hover .dropdown-content {
      display: block;
    }
    .header .icons .for_all_user .user_img{
      display: flex;
      align-items: center;
      max-width: 150px;
      gap: .5rem;
    }
    .header .icons #user-btn img{
      width: 27px;
      height: 27px;
      border-radius: 50%;
    }
    .header .icons #user-btn span{
      font-size: 1rem;
      font-family: sans-serif;
      font-weight: 500;
      justify-content: center;
    }
    
    .header .icons .fas.fa-user .dropdown-content {
      display: none;
      position: absolute;
      justify-content: left;
      background-color: #f9f9f9;
      min-width: 20rem;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }
  
    .header .icons .fas.fa-user .dropdown-content a{
      text-decoration: none;
      color: black;
      padding: 12px 16px;
      display: block;
      font-size: 1.8rem;
      font-family: 'Courier New', Courier, monospace;
    }
    
    
    .header .icons .fas.fa-user .dropdown-content a:hover{
      background-color: #3cb815;
    }
  
    .header .icons .fas.fa-user:hover .dropdown-content {
      display: block;
    }
    
  /* ---------------------------------------------------------------- */
  
    /* dropdownbox orderbox*/
    /* .header .cart-items-container{
      position: absolute;
      top: 100%; right:-100%;
      height: cacl(100vh - 9.5rem);
      width: 35rem;
      background: #fff;
      padding: 0 1.5rem;
      
    }
    .header .cart-items-container.active {
      right: 0;
  }
  
  
  
    .header .cart-items-container .cart-item{
      position: relative;
      margin: 2rem 0;
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  
    
    .header .cart-items-container .cart-item .fa-times{
      position: absolute;
      top:1rem; right:1rem;
      font-size: 2rem;
      cursor: pointer;
      color: #000;
    }
  
    .header .cart-items-container .cart-item .fa-times:hover{
      color: rgba(247, 168, 32, 0.903);
    }
  
    .header .cart-items-container .cart-item img{
      height: 7rem;
      width:7rem;
    }
  
    .header .cart-items-container .cart-item h3{
      font-size: 1.8rem;
      color: #000;
      padding-bottom: .5rem;
    }
  
    .header .cart-items-container .cart-item .price{
      font-size: 1.6rem;
      font-weight: 600;
      color: rgb(247, 100, 9);
      padding-bottom: .5rem;
    } */
  
    .btn{
      margin-top: 1rem;
      background: #8aea6def;
      display: inline-block;
      padding: 1rem;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      cursor: pointer;
    }
  
    .btn:hover{
      background: #3cb815;
      font-weight: 600;
      letter-spacing: .1rem;
    }
    .header .cart-items-container .btn {
      width: 100%;
    }
    .header .icons .fas.fa-shopping-cart {
      position: relative;
      display: block;
    }
  
    .header .icons .fas.fa-shopping-cart .cart-items-container {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 20rem;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }
  
    .header .icons .fas.fa-shopping-cart .cart-items-container a{
      text-decoration: none;
      color: black;
      padding: 12px 16px;
      display: block;
      font-size: 1.3rem;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
    .header .icons .fas.fa-shopping-cart .cart-items-container .cart-item .fa-times:hover{
      color: rgba(247, 168, 32, 0.903);
    }
  
    .header .icons .fas.fa-shopping-cart:hover .cart-items-container {
      display: block;
    }
  
  /* ---------------------------------------------------------------- */
  
  
  
    /* input{
      padding: 12px;
      cursor: pointer;
      font-weight: 600;
  } */
  
  
    .header .search-form{
      position: absolute;
      top: 115%; right: 7%;
      background: #fff;
      width: 50rem;
      height: 5rem;
      display: none;
      align-items: center;
    }
  
    .header .search-form input{
      height: 100%;
      width: 100%;
      font-size: 1.6rem;
      color:#000;
      padding: 1rem;
      text-transform: none;
    }
  
    .header .search-form label{
      cursor: pointer;
      font-size: 2.2rem;
      margin-right: 1.5rem;
      color:#000;
    }
  
    .header .search-form label:hover{
      color:rgba(247, 168, 32, 0.903);
    }
  
    .search-form.active input[type="search"] {
      display: block; /* Show the search box when the search-form has the active class */
    }
    
  
    /* --media query ------------*/
    @media(max-width: 991px){
      html{
        font-size: 55%;
      }
  
      .header{
        padding: 1.5rem 2rem;
      }
  
    }
  
    @media(max-width: 830px){
      .header #menu-btn{
        display: inline-block;
      }
      
  
      .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: rgba(211, 234, 238, 0.905);
        padding: .5rem;
        width: 30rem;
        height: calc(100vh - 9.5rem);
      }
      .navbar.show {
        right: 0%; /* Show the navbar by setting right to 0 */
      }
  
      .header .navbar a{
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
      }
    }