.section2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 100px;
}
.section2 .bannerBox {
  display: flex;
  flex-direction: column;
  margin: 28px auto 56px;
  width: 100%;
  background: var(--src) center center / 100% 100% no-repeat;
  border-radius: 45px;
  
}
.section2 .bannerBox .content-box {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  gap: 69px 0px;
  margin: 73px auto 45px;
  width: 984px;
  max-width: 85%;
  
}
.section2 .bannerBox .content-box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px 0px;
  width: 100%;
}
.section2 .bannerBox .content-box .content h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 5rem/1.3 "Niramit", Helvetica, Arial, serif;
  color: rgb(7, 7, 7);
  text-align: center;
  letter-spacing: -0.1px;

}
.section2 .bannerBox .content-box .content h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 781.97998046875px;
  max-width: 85%;
  font: 600 24px/1.29 "Niramit", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: center;

}
.section2 .bannerBox .content-box input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 85%;
  font: 700 26px/1.63 "Monda", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(253, 233, 57);
  border-radius: 30px 30px 30px 30px;
  padding: 3rem;

}



/* -------------------Section 3-----------------------------------  */
.section3 .icon_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 20px auto 37px;
  width: 88.58%;
  max-width: 90%;
}

.section3 .icon_container .item_box h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 4rem/1.62 "Monda", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: center;
  
}
.section3 .icon_container .item_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px 0px;
  width: 309px;
  min-width: 0px;
  
}
.section3 .icon_container .item_box img {
  width: 100%;
  object-fit: cover;
}

@media(max-width: 950px){
 .section3 .icon_container .item_box {
   gap: 1rem 0px;
   width: 25%;     
 }

 .section3 .icon_container .item_box h1 {
   font: 400 2.6rem/1.62 "Monda", Helvetica, Arial, serif;
 }
}

@media(max-width: 680px){
 .section3 .icon_container{
   flex-direction: column;
   align-items: center;
   gap: 30px 10px;
 }
 .section3 .icon_container .item_box{
   margin-top: unset;
   margin-bottom: unset;
   width: 100%;
 }

 .section3 .icon_container .item_box h1 {
   font: 500 5rem/1.62 "Play", Helvetica, Arial, serif;
 }

 .section3 .icon_container .item_box img {
   width: 50%;
   object-fit: cover;
 }
}

/* -------------------Section 5-----------------------------------  */
.section5 {
 display: flex;
 flex-direction: row;
 justify-content: left;
}
.section5 .container {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 0px 13px;
 width: 50%;
 margin-bottom: 2rem;
}
.section5 .container img {
 width: 8rem;
}
.section5 .container h1{
 display: flex;
 justify-content: center;
 font: 600 3.5rem/1.3 "Niramit", Helvetica, Arial, serif;
 color: rgb(0, 0, 0);
 text-align: center;
}


/* -------------------Section 6-----------------------------------  */
.product_row{
display: flex;
gap: 0px 2rem;
justify-content: center;
}
.item {
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 18px 0px;
 width: 22%;
 box-shadow: 1px 1px 3px 1px;
 margin: 5px 5px 13px;
}
.item img {
 position: relative;
 width: 100%;
 aspect-ratio: 1/ 1;
}
.product_row .item .product_info_container {
 position: relative;
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 0px 10px;
 width: 92.91%;
}
.product_row .item .product_info_container .product_info {
 position: relative;
 display: flex;
 flex-direction: column;
 width: auto;
 min-width: 0px;
}
.product_row .item .product_info_container .product_info .product_name {
 position: relative;
 font: 400 2rem/1.5 "Poppins", Helvetica, Arial, serif;
 color: rgb(77, 77, 77);
}
.product_row .item .product_info_container .product_info .price {
 position: relative;
 margin: 1px 0px 0px;
 font: 500 2rem/1.5 "Poppins", Helvetica, Arial, serif;
 color: rgb(26, 26, 26);
}
.product_row .item .product_info_container .product_info .rating_star {
 position: relative;
 display: flex;
 color: orange;
 font-size: 1.6rem;
 gap: 0px 2px;
 margin: 7px 1px 0px;
}

.product_row .item .product_info_container .product_info .add_to_cart {
 margin-top: 1rem;
 position: relative;
 display: flex;
 justify-content: center;
 width: 100%;
 font-size: 1.5rem;
 border-radius: 5px;
 background-color: rgb(228, 228, 212);
 gap: 0px 5px;
 padding: 1rem;
 cursor: pointer;
 margin-bottom: 1rem;
}

.product_row .item .product_info_container .product_info .add_to_cart:hover{
 background-color: rgb(92, 206, 81);
 transition: 0.5s;
}
@media (max-width: 800px){
  .product_row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .item{
    width: 90%;
  }
  .section5 .container h1{
    font-size: 3rem;
  }
}

@media (min-width: 1600px){
 .product_row .item .product_info_container .product_info .product_name{
   font-size: 3.2rem;
 }
 .product_row .item .product_info_container .product_info .price{
   font-size: 4rem;
 }
 .product_row .item .product_info_container .product_info .rating_star{
   font-size: 3.5rem;
 }
 .product_row .item .product_info_container .product_info .add_to_cart{
   font-size: 3.5rem;
   padding: 3rem;
 }
}


/* -------------------Section 7-----------------------------------  */
.review .box-container{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
 gap:1.5rem;
}

.review .box-container .box{
 border: solid 1.5px black;
 background: #84cb6e60;
 text-align: center;
 padding: 3rem 2rem;
}

.review .box-container .box p{
 font-size: 1.5rem;
 font-weight: 500;
 line-height: 1.8;
 color: rgb(190, 20, 20);
 padding: 2rem 0;
}

.review .box-container .box .user{
 height: 7rem;
 width: 7rem;
 border-radius: 50%;
 object-fit: cover;
}

.review .box-container .box h3{
 padding: 1rem 0;
 font-size: 1.8rem;
}

.review .box-container .box .stars i{
 padding: 1rem 0;
 font-size: 2rem;
 color:orange;
}
.review .heading{
 text-align: center;
 color:#ff511c;
 text-transform: uppercase;
 padding-bottom: 3.5rem;
 font-size: 4rem;
 font-family: "Monda", Times, serif;
}
.review .heading span{
 color:#000;
 text-transform: uppercase;
}

.review{
  margin-bottom: 4rem;
}
 