
  .root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1510px;
    height: 690px;
    background-color: rgb(252, 210, 99);
    overflow: hidden;
  
  .hero_title {
    position: absolute;
    top: 129.5px;
    right: 243.5px;
    bottom: 605.5px;
    left: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 289px;
    height: 65px;
    font: 600 46px/1.41 "Piazzolla", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .image {
    position: relative;
    width: 50%;
    height: 100%;
    aspect-ratio: 0.8;
    object-fit: cover;
  }
  .flex_col {
    position: absolute;
    top: 251px;
    right: 113px;
    bottom: 340px;
    left: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0px;
    width: 550px;
    height: 300px;
    button {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #ad3d1b;
        width: 83%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        cursor: pointer;
      }
      a {
        text-align: left;
        font-size: 20px;
        color: #3498db;
        margin-left: -43%;
        margin-top: -3%;
        line-height: 10px;
        p {
          padding-bottom: 10px;
        }     
        }
    }
    .flex_col input[type="text"],
    .flex_col input[type="password"] {
      width: 80%;
      line-height:3em;
      font-family: 'Ubuntu', sans-serif;
      border:2px solid #f2f2f2;
      outline:none;
      padding-left:10px;
    }
}