@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 100px;
    background-color: #fef2d0;
}
/*-------------MENU-------------------*/
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 0px 6px;
    margin: 0px 0px 10px;
    @include xs {
      margin: 0px 0px 80px;
    }
    @include tn {
      margin: 0px 0px 50px;
    }
  }
  .res-logo {
    width: 80px;
    min-width: 0px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  .txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 600 30px/1.16 "Play", Helvetica, Arial, serif;
    color: rgb(6, 131, 247);
    text-align: center;
    @include md {
      font-size: 28px;
    }
    @include xxs {
      font-size: 24px;
    }
  }


.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 30px;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

/*---------------ACTIVE------------------*/
.nav li a {
    color: #000;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    display: flex;
    text-decoration: none;
    position: relative;
    transition: color 0.5s;
    z-index: 2;
  }
  

  .nav a:hover,
  .nav .menu-active{
    background: rgb(249, 218, 19);
    border-radius: 5rem;
    color: black;
    transition: 0.5s;
    font-weight: 700;

  }

/*----------------------INPUT---------------*/
input{
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
}

.signin{
    background: transparent;
    border: none;
}

.signup{
    background-color: #ff511c;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
}

/*-----------------CONTENT----------------*/
.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* #Content TEXT*/
/* -------------------LEFT-SIDE-------------*/
.content .content-left{
    display: block;
    width: 100%;
}

.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.content .content-left .info h2{
    font-size: 8vh;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.content .content-left .info p{
    font-size: 20px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}
/**/

.content .content-left button{
    padding: 10px;
    background-color: #ff511c;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

/* #Content Image*/
/*----------------RIGHT-SIDE-------------*/

.content .content-right{
    display: block;
    width: 100%;
}

.content .content-right img{
    width: 500px;
    height: auto;
    position: relative;
    
}

/*------------------Choosing Food---------------------*/

.menu_set {
    display: flex;
    align-items: flex-start;
    gap: 0px 15px;
    margin-top: 50px;
    @include md {
      margin: 150px 14px 0px;
    }
    @include xs {
      margin: 80px 14px 0px;
    }
    @include xxs {
      flex-direction: column;
      gap: 30px 15px;
    }
    @include tn {
      margin: 50px 8px 0px;
    }
  }
  .choose_food {
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    height: 50px;
    min-height: 50px;
    background-color: rgb(251, 154, 65);
    border-radius: 20px 20px 20px 20px;
    @include xxs {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
/*-------------Display Food Card----------------*/


.product_row {
    display: grid;
    align-content: start;
    row-gap: 70px;
    column-gap: 163px;
    margin: 96px 14px 37px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    @include xs {
      margin: 80px 14px 37px;
    }
    @include tn {
      margin: 50px 8px 37px;
    }
  }
  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-row: span 1;
    grid-column: span 1;
    min-width: 0px;
    width: 230px;
    @include sm {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
  }
  .image {
    position: absolute;
    border-radius: 50%;
    top: -50px;
    left: 50%;
    z-index: 9999;
    width: 100px;
    height: 100px;
    object-fit: cover;
    transform: translate(-50%, 0);
  }
  .product_card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 56px 15px 11px 12px;
    outline: 1px solid rgb(19, 18, 18);
    outline-offset: -1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
    @include tn {
      padding: 50px 8px 11px 8px;
    }
  }
  .food_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 600 18px/1.22 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: center;
    @include md {
      font-size: 16px;
    }
  }
  .desc_food {
    display: flex;
    align-items: center;
    margin: 8.5px 0px 0px;
    font: 500 12px/1.25 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .price_tag {
    display: flex;
    align-items: center;
    margin: 8.5px 0px 0px;
    width: 100%;
    font: 600 16px/1.18 "Inter", Helvetica, Arial, serif;
    color: rgb(242, 5, 5);
    letter-spacing: -0.2px;
  }
  .btn {
    display: flex;
    flex-direction: column;
    margin: 15px 0px 0px;
    width: 100%;
    background-color: rgb(251, 154, 65);
    border-radius: 20px 20px 20px 20px;
  }
  .highlight2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15.5px 0px;
    width: 100%;
    height: 19px;
    font: 600 16px/1.18 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: span 1;
    grid-column: span 1;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    padding: 56px 15px 11px 12px;
    outline: 1px solid rgb(19, 18, 18);
    outline-offset: -1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
    @include sm {
      margin-top: unset;
      margin-bottom: unset;
      width: 100%;
    }
    @include tn {
      padding: 50px 8px 11px 8px;
    }
  }
/*footer*/
  body{
    line-height: 1.5;
    font-family: 'Roboto Slab', serif;;
  }
  *{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
  }
  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #093222;
    padding: 70px 0;
    margin: 0 -100px;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 32px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 3px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

