body {
    text-align: center;
    padding: 40px 0;
    background: #dcda88;
    margin-top: 8rem;
}
h1.success_message {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;

    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}
    p {
      color: #404F5E;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:20px;
      margin: 0;
    }
  i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }
  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
  }

.button a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid transparent;
    text-transform: uppercase;
    padding: 13px 25px;
    font-size: 18px;
    border-radius: 40px;
    margin: 7px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    opacity: 0.9;
}

.button a {
    background-color:rgb(81, 145, 4);
    border: 2px solid rgba(56, 55, 55, 0.9);
    color: whitesmoke;
  }
  
  .button a:hover{
    background: rgb(94, 237, 79);
    color: black;
  }
  