@model Demo.ModelViews.ChangePasswordCM
@{
    ViewData["Title"] = "Change";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Change</h1>
  <body>
        <div class="go-back">
            <i class="fa-solid fa-arrow-left"></i>
            <a href="Homepage.html">Back</a>
        </div>
        <div class="container">
            <h1>Đổi mật khẩu</h1>
            <form asp-action="ChangePasswordCM">
            <form id="profileForm">
              <div class="image-container">
             @*  //  <img src="https://i1.sndcdn.com/avatars-5c8vtu1HVvUZDdlY-ZIKYlw-t1080x1080.jpg" alt="Default Image" id="productImage">
               // <input type="file" accept="image/*" id="fileInput" hidden> *@
              </div>

              <div class="form-group" >
                <label asp-for="CurrentPassword">Mật khẩu hiện tại:</label>
                <input asp-for="CurrentPassword" id="CurrentPassword" name="CurrentPassword" class="form-control" required>
                <span asp-validation-for="CurrentPassword" class ="text-danger"></span>
              </div>

              <div class="form-group">
               <label asp-for="NewPassword">Mật khẩu hiện tại:</label>
                <input asp-for="NewPassword" id="NewPassword" name="NewPassword" class="form-control" required>
                <span asp-validation-for="NewPassword" class ="text-danger"></span>
              </div>

              <div class="form-group">
                <label asp-for="ConfirmPassword">Mật khẩu hiện tại:</label>
                <input asp-for="ConfirmPassword" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required>
                <span asp-validation-for="ConfirmPassword" class ="text-danger"></span>
              </div>

              <button type="submit" class="btn btn-primary">Lưu</button>
              <button type="submit" class="btn btn-primary">Hủy</button>
            </form>
            </form>
          </div>

          <script src="./js/site.js"></script>
      </body>
