@model Demo.ModelViews.ChangePasswordCM
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Change Password</h1>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link href="~/css/ForgotPassword.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<div class="container">
        <div class="title">Đổi mật khẩu</div>
        <div class="content">
            <form asp-action="ChangePassword" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <label asp-for="CurrentPassword">Mật khẩu hiện tại</label>
                        <input asp-for="CurrentPassword" class="form-control" type="password" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="NewPassword">Mật khẩu mới</label>
                        <input asp-for="NewPassword" class="form-control" type="password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="ConfirmPassword">Nhập lại mật khẩu mới</label>
                        <input asp-for="ConfirmPassword" class="form-control" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="special">Lưu</button>
            </form>
        </div>
    </div>

@* <div class="container">

    <h1>Đổi mật khẩu</h1>
    <form asp-action="ChangePassword" method="post">
        <div class="form-group">
            <label asp-for="CurrentPassword"></label>
            <input asp-for="CurrentPassword" class="form-control" type="password" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" type="password" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" type="password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="button">
            <input type="submit" class="btn btn-primary" value="Lưu" ></input>
        </div>

    </form>
</div> *@

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
            //  @await Component.InvokeAsync("ShowNotifications")
        }
    }
    @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
