@model Demo.ModelViews.RegisterViewModel

@{
    ViewData["Title"] = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="partial-code root">
    <div style="align-content:center" class="col-md-4">
        <form asp-action="DangKyTaiKhoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <img class="image" src="~/assets/fast_food_combo_meal.png" alt="Combo Meal" /> 
            <h4 class="register-title"> Đăng ký tài khoản </h4>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Họ và tên*</label>
                <input asp-for="FullName" class="form-control" type="text" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email*</label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Số điện thoại*</label>
                <input asp-for="Phone" class="form-control" type="tel" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Ngày sinh*</label>
                <input asp-for="Date" class="form-control" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mật khẩu*</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Nhập lại mật khẩu*</label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo tài khoản" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller ="Home" asp-action="Index">Trở về trang chính</a>
</div>
