@model Demo.ModelViews.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Forgot Password</h1> *@

<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>
    <link href="~/css/ForgotPassword.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <style>
        body {
            margin-top: 150px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="title">Quên mật khẩu</div>
        <div class="content">
            <form asp-action="ForgotPassword" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nhập Email của bạn</span>
                        <input type="email" id="email" name="Email" asp-for="Email" required>
                    </div>
                </div>
                <div class="signup-link">
                    <a asp-action="Login" asp-controller="Accounts">Trở về đăng nhập</a>
                </div>
                <div class="button">
                    <input type="submit" value="Xác nhận">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}