
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>
@* @using(Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(temp => )
        </div>
    </div>
            
} *@
