@model Demo.ModelViews.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <!-- Các thẻ meta khác và các liên kết CSS -->
</head>
<body>
    <div class="partial-code root">
        <h1 class="hero_title">Đăng ký</h1>
        <img class="image" src="/assets/fast_food_combo_meal.png" alt="alt text" />
        <div class="flex_col">
            <input asp-for="@Model.Name" type="text" placeholder="Họ tên" name="name" />
            <input type="text" placeholder="Số điện thoại" name="phone" />
            <input type="text" placeholder="E-mail" name="email" />
            <input type="text" placeholder="Tài khoản" name="un" />
            <input type="password" placeholder="Mật khẩu" name="pw" />
            <input type="password" placeholder="Xác nhận mật khẩu" name="confirmpw" />
            <button> Đăng ký tài khoản </button>
        </div>
    </div>
</body>
</html>