@model Demo.ModelViews.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reset Password</h1>

<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/ForgotPassword.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>

    <div class="container">
        <div class="title">Quên mật khẩu</div>
        <div class="content">
            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="Email" />
                <div class="user-details">
                    <div class="input-box">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                </div>
                
                <button type="button" onclick="window.location.href='@Url.Action("ForgotPassword", "Accounts")'" class="btn btn-secondary">Back</button>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}