@model Demo.Data.Role

@{
    ViewData["Title"] = "Thông tin quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content_box">
    <div class="nav_dir">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="HomeAdmin"
                   asp-action="Index" class="breadcrumb-item">
                    <i class="anticon anticon-home m-r-5"></i>Home >
                </a>
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Danh sách quyền truy cập > </a>
                <span class="breadcrumb-item active">Thông tin quyền truy cập</span>
            </nav>
        </div>

    </div>
    <h2>Thông tin quyền truy cập</h2>

    <div class="data_table_container" id="small_info_table">
        <table class="data-table">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td>@Model.RoleId</td>
                </tr>

                </tr>
            <td>Tên quyền truy cập:</td>
            <td>@Model.RoleName</td>
            </tr>

            </tr>
            <td>Mô tả:</td>
            <td>@Model.Description</td>

            </tr>
            </tbody>
        </table>

    </div>
</div>


