@model Demo.Data.Role

@{
    ViewData["Title"] = "Chỉnh sửa quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content_box">
        <div class="nav_dir">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home > </a>
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Danh sách quyền truy cập > </a>
                <span class="breadcrumb-item active">Chỉnh sửa quyền truy cập </span>
            </nav>
        </div>

    </div>

    <div class="form_container">
    <div class="title">Sửa phân quyền</div>
    <div class="content">
        <form asp-action="Edit" asp-route-id="@Model.RoleId" method="post" class="form-horizontal" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId"> 
            <div class="user-details">
                <div class="input-box">
                    <label class="col-sm-2 col-form-label"  class="control-label">Tên vai trò</label>
                    <input type="text" class="form-control" asp-for="RoleName" placeholder="Role Name" />
                </div>

                <div class="input-box">
                    <label class="col-sm-2 col-form-label" class="control-label">Miêu tả vai trò</label>
                    <input type="text" class="form-control" asp-for="Description" placeholder="Description" />
                </div>

            </div>

            <!-- Thêm các trường form khác tại đây -->

                <div class="button">
                    <input type="submit" class="btn btn-primary" value="Lưu thay đổi">
                </div>
        </form>
    </div>
</div>
</div>


       
