﻿
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt hàng thành công</title>

    <link href="~/css/success.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />
</head>
<body>
    <h1 class="success_message">Đặt hàng thành công</h1>
    <div class="card">
        <div class="content_card" style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1 class="success_message">Thành công</h1>
        <p>Cảm ơn bạn đã đặt hàng!<br /> Chúng tôi sẽ xử lý đơn hàng của bạn trong thời gian ngắn nhất.</p>
        <div class="button">
            <a asp-controller="HangHoa" asp-action="Index">Tiếp tục mua sắm</a>
            <a asp-controller="News" asp-action="Add">Liên hệ hỗ trợ</a>
        </div>
    </div>
</body>